{% extends "layout.html" %}

{% block title %}: Home{% endblock %}

{% block main %}
    <!-- Search -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="d-flex mb-5" action="/" method="post" onsubmit="return validateSearch()">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search listings" aria-label="Search" required id="query">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- properties -->
        <div class="row mx-3">
            {% for property in properties %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='img.webp') }}" class="card-img-top img-fluid" alt="" style="max-height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <a href="view_property/{{ property.property_id }}"><h5 class="card-title">{{ property.title }}</h5></a>
                        <p class="card-text">{{ property.price }} Tk</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function validateSearch() {
            var query = document.getElementById('query').value;
            if (query.length < 3) {
                alert('Please enter at least 3 characters for the search.');
                return false;
            }
            return true;
        }
    </script>

{% endblock %}